{
  "openapi": "3.0.0",
  "info": {
    "description": "8x8 Contact Center Post Call Survey (PCS) is a questionnaire presented to the caller at the end of a call, typically to collect feedback about the quality of service offered by the company. Companies use a survey to gather feedback from customers and then analyze the collected data to help improve their services. For example, you can get feedback on overall customer satisfaction, how well your service agent performed, and how many calls it took to resolve an issue.\n\nUsing the PCS API enables you to obtain select historical information for your PCS data. You use lookup PCS data with specific parameters including time period, duraion, groups, and call region.\n\nFor more information, refer to the [8x8 Contact Center Post Call Survey User Help](https://docs.8x8.com/8x8WebHelp/VCC/Post-Call-Survey/Default.htm)\n\nYour 8x8 associate will provide you with an `8x8_apikey` and access token.  \n\nFor example usage refer to the [Post Call Survey Use Case](https://8x8gateway-8x8apis.apigee.io/post-call-survey-use-case).\n\nFor more information about this API contact your [8x8 representative](mailto:vcc-dev@8x8.com).\n",
    "version": "1.0.0",
    "title": "8x8 Contact Center Post Call Survey",
    "termsOfService": "https://www.8x8.com/terms-and-conditions"
  },
  "servers": [{ "url": "https://api.8x8.com/customerexperience/v1" }],
  "paths": {
    "/postCallSurvey/{region}": {
      "post": {
        "tags": ["Obtain Call Survey Data"],
        "summary": "Get Post Call Survey Data",
        "description": "This endpoint generates post call survey data records.",
        "operationId": "postcallsurvey",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "This value represents the region for your tenant (either the U.S. or U.K.).",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Enter the following required body parameters:",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SurveyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The following list describes some of the parameters you may observe in the successful response body output -",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SurveyResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request - the server is unable to process the client request due to invalid syntax"
          },
          "401": {
            "description": "Authentication error - confirm your `8x8_apikey` and access token values"
          },
          "500": {
            "description": "Internal Server Error - the server has experienced an unexpected condition"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "8x8-apikey" },
      "Token": { "type": "apiKey", "in": "header", "name": "token" }
    },
    "schemas": {
      "SurveyRequest": {
        "type": "object",
        "required": ["duration", "page", "rows", "tenantId", "script"],
        "properties": {
          "callerName": {
            "type": "array",
            "description": "Indicates either the caller name or number (you can search your data for specific phone numbers or callees)",
            "items": {
              "type": "string",
              "description": "Provides the caller name or number (you can search your data for specific phone numbers or callees)"
            }
          },
          "duration": {
            "type": "string",
            "description": "The possible values include today, yesterday, the current week, the current month, or **allhistory** for the entire repository of PCS CDR data.  Note that if you are passing both the `timeRange` and `duration` properties in your request, then the API request defaults to the provided `timeRange` value."
          },
          "page": {
            "type": "integer",
            "description": "This parameter sets the number of pages for your return output. For example, if the number of records matched with your query is 2000 but the number of rows is set to 50, then 50 records are returned on one page. To obtain the next 50 rows of records, increase the page size by 1 (page size in output header + 1) in your follow-up requests."
          },
          "rows": {
            "type": "integer",
            "description": "This value indicates the number of PCS records required for each request."
          },
          "tenantId": {
            "type": "string",
            "description": "This parameter refers to the tenant ID used in the execution of the request."
          },
          "timeRange": {
            "type": "string",
            "description": "This parameter refers to the time and date range of the post call survey in milliseconds (ms). For example, in the range 1535526000000 ms to 1535612340000 ms, the first value equates to Wed Aug 29 2018 00:00:00, and is the number of ms starting on January 1, 1970."
          },
          "script": {
            "type": "array",
            "description": "This parameter refers to the PCS scriptId which can be found in Configuration Manager. Refer to the [Virtual Contact Center Documentation](https://support.8x8.com/us/Manuals_and_User_Guides/Products/Virtual_Contact_Center_Manuals_and_User_Guides) for more information about Configuration Manager.",
            "items": {
              "type": "string",
              "description": "This parameter refers to the PCS scriptId which can be found in Configuration Manager."
            }
          },
          "tenantGroups": {
            "type": "array",
            "description": "This parameter refers to the group ID found in Configuration Manager.",
            "items": {
              "type": "string",
              "description": "The PCD group ID found in Configuration Manager."
            }
          },
          "tenantAgents": {
            "type": "array",
            "description": "This parameter lists all agents that were selected in your request (you can find the `agent ID` in Configuration Manager)",
            "items": {
              "type": "string",
              "description": "The list of all agents that were selected in your request (you can find the `agent ID` in Configuration Manager)"
            }
          },
          "tenantQueues": {
            "type": "array",
            "description": "Lists all queues selected in your requests",
            "items": {
              "type": "string",
              "description": "Lists all queues that were selected in your request"
            }
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer",
            "description": "The total number of records matched with your criteria request."
          },
          "sortColumn": {
            "type": "string",
            "description": "The column used for sorting PCS data"
          },
          "sortOrder": {
            "type": "string",
            "description": "The PCS data sorting order, which can be either ascending or descending"
          },
          "page": {
            "type": "integer",
            "description": "Sets the number of pages for your return output. For example, if the number of records matched with your query is 2000 but the number of rows set is 50, then 50 records are returned on one page. To obtain the next set of 50 rows of records, increase the page size by 1 (page size in output header + 1) in your follow up requests."
          },
          "rows": {
            "type": "integer",
            "description": "The number of call records required for each request"
          },
          "columns": {
            "type": "array",
            "description": "The list of all columns displayed on the output",
            "items": {
              "type": "string",
              "description": "The list of all columns displayed on the page"
            }
          },
          "questionLabel": {
            "type": "object",
            "description": "The question text that is defined in the script ID used in your request",
            "properties": {
              "Q1": {
                "type": "string",
                "description": "The text of the first question which is defined in the script ID used in your request (e.g., “How would you rate our service on a scale from 0 to 9 ?”)"
              },
              "Q2": {
                "type": "string",
                "description": "The text of the second question which is defined in the script ID used in your request"
              },
              "Q3": {
                "type": "string",
                "description": "The text of the third question which is defined in the script ID used in your request - The number of questions in the response depends on the number of questions defined in the script. You can have more than or less than 3 questions in the script."
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "queueList": {
                  "type": "array",
                  "items": { "type": "string", "description": "The queue list" }
                },
                "groupList": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The list of groups displayed on the output"
                  }
                },
                "agentList": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": " The agent list that is included in the PCS call"
                  }
                },
                "Q1": {
                  "type": "string",
                  "description": "The user rating for question Q1 (e.g., 0 to 9)"
                },
                "Q2": {
                  "type": "string",
                  "description": "The user rating for question Q2"
                },
                "Q3": {
                  "type": "string",
                  "description": "The user rating for question Q3"
                },
                "callDate": {
                  "type": "string",
                  "description": "The date and time when the call was made"
                },
                "callType": {
                  "type": "string",
                  "description": "The type of call (e.g., Inbound, Outbound)"
                },
                "offerType": {
                  "type": "string",
                  "description": "The type of offer (e.g., stay on call, callback)"
                },
                "callerNumber": {
                  "type": "string",
                  "description": "The caller's phone number"
                },
                "totalScore": {
                  "type": "integer",
                  "description": "The combined score for all questions"
                },
                "hits": {
                  "type": "string",
                  "description": "The total number of records matched with the criteria request"
                },
                "holdDuration": {
                  "type": "string",
                  "description": "The length of time a call was placed on hold"
                },
                "hungupBy": {
                  "type": "string",
                  "description": "Identifies if the call was hung up by the caller, agent, or system"
                },
                "callerName": {
                  "type": "string",
                  "description": "The caller's name"
                },
                "callId": {
                  "type": "string",
                  "description": "The unique caller identifier for each call"
                },
                "callerId": {
                  "type": "string",
                  "description": "The unique caller identifier for each call"
                },
                "callDateOnly": {
                  "type": "string",
                  "description": "The date the call was made (you can sort the column by call date)"
                },
                "callDuration": {
                  "type": "string",
                  "description": "The call duration for a specific time range (e.g., calls that last from 1 to 45 seconds)"
                },
                "callNumber": {
                  "type": "string",
                  "description": "The caller’s name"
                },
                "callName": {
                  "type": "string",
                  "description": "The caller’s phone number"
                },
                "callPhoneNumber": {
                  "type": "string",
                  "description": "The caller’s phone number"
                },
                "transactionId": {
                  "type": "string",
                  "description": "The call ID"
                },
                "muteDuration": {
                  "type": "integer",
                  "description": "The length of time that an agent has muted a customer"
                },
                "pcsType": {
                  "type": "string",
                  "description": "The type of Post Call Survey questionnaire that is used (e.g., call back, stay on call)"
                },
                "timeInIVR": {
                  "type": "string",
                  "description": "The amount of time the call was in Interactive Voice Response (IVR) in terms of hours, minutes, seconds, and milliseconds."
                },
                "waitTime": {
                  "type": "string",
                  "description": "The length of time before a caller speaks to an agent."
                },
                "callTime": {
                  "type": "string",
                  "description": "The time that the call was made"
                },
                "voiceComment": {
                  "type": "string",
                  "description": " The length of time before a caller speaks to an agent"
                },
                "voiceCommentFileNames": {
                  "type": "string",
                  "description": "The comma separated list of all recorded voice comment files (you can have multiple voice comment questions in a post call survey script, and one file generated for each voice comment question)"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [{ "ApiKeyAuth": [], "Token": [] }],
  "x-readme": { "explorer-enabled": true, "proxy-enabled": true }
}
