{
  "openapi": "3.0.0",
  "info": {
    "title": "Work Analytics",
    "version": "8-x-8-Latest",
    "description": "The Work Analytics API provides metrics related to call queues activity as well as agent activity on queues.\n### **Time filtering**\nIf no time filtering is provided, the returned metrics reflect the agent activity in the last 24 hours. \\\nThe reports can be generated for a specific date range, specified using 'startDate' and 'endDate' parameters, in ISO 8601 format. If a specific intra day time range is desired, the 'intraDayStart' and 'intraDayEnd', in ISO 8601 format, must be used.\n### **Examples:**\n\n  - To obtain a full day report from 1st of May to 5th of May, in UTC, use startDate: 2023-05-01T00:00:00Z and endDate: 2023-05-05T00:00:00Z. \n  - To obtain a report from 1st of May to 5th of May, in a specific time zone, starting from 8 AM to 6 PM, use startDate: 2023-05-01T00:00:00-0700 and endDate: 2023-05-05T00:00:00-07000, intraDayStart: 08:00:00-0700, intraDayEnd: 18:00:00-0700."
  },
  "servers": [{ "url": "https://api.8x8.com/analytics/work" }],
  "security": [{ "8x8-apikey": [], "bearerAuth": [] }],
  "paths": {
    "/v2/pbxes/{pbxId}/queue-agent-activity": {
      "get": {
        "tags": ["Queue Agent Activity"],
        "summary": "Get Agent Activity Metrics per Queues",
        "description": "This endpoint returns the agent activity metrics for the selected pbx, grouped by queue and agent. The response can be further filtered by a list of queues, sites, agents, user or queue statuses. If no date range is provided, the metrics reflect the agent activity in the last 24 hours.",
        "operationId": "get-agent-queue-activity",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "Site ids filtering. Multiple values can be passed separated by comma. If not passed, all sites data for the given pbx will be returned.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Single value": {
                "description": "single valued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg"
              },
              "Multiple values": {
                "description": "multivalued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg,JMwyX0BUTRC9uAnuAz8wfg"
              }
            }
          },
          {
            "name": "queueIds",
            "in": "query",
            "description": "Call Queue ids filtering. Multiple values can be passed separated by comma. If not passed, all queues data for the given pbx will be returned.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userIds",
            "in": "query",
            "description": "User ids filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userStatuses",
            "in": "query",
            "description": "User statuses filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AVAILABLE",
                "BUSY",
                "DND",
                "AWAY",
                "AUTO_AWAY",
                "OFFLINE",
                "ON_CALL",
                "INVISIBLE"
              ]
            }
          },
          {
            "name": "queueStatuses",
            "in": "query",
            "description": "Queue statuses filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AVAILABLE_IDLE",
                "HANDLING",
                "ALERTING",
                "PAUSE",
                "WRAP_UP",
                "BUSY_OTHER",
                "DND",
                "LOGGED_OUT"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If startDate is entered, endDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Start date in U.S. Pacific Time time zone": {
                "description": "2023-06-14 start date in U.S. Pacific Time time zone",
                "value": "2023-06-14T00:00:00-0700"
              },
              "Start date in UTC": {
                "description": "2023-06-14 start date in UTC",
                "value": "2023-06-14T00:00:00Z"
              }
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Report end date in ISO 8601 standard. If endDate is entered, startDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "End date in U.S. Pacific Time time zone": {
                "description": "2023-06-15 end date in U.S. Pacific Time time zone",
                "value": "2023-06-15T00:00:00-0700"
              },
              "End date in UTC": {
                "description": "2023-06-15 end date in UTC",
                "value": "2023-06-15T00:00:00Z"
              }
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Report intra day start time (up to seconds) in ISO 8601 standard. If intraDayStart is entered, intraDayEnd is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day start time in U.S. Pacific Time time zone": {
                "description": "8 AM in U.S. Pacific Time time zone",
                "value": "08:00:00-0700"
              },
              "intra day start time in UTC": {
                "description": "8 AM in UTC",
                "value": "08:00:00Z"
              }
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Report intra day end time (up to seconds) in ISO 8601 standard. If intraDayEnd is entered, intraDayStart is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day end time in U.S. Pacific Time time zone": {
                "description": "6 PM in U.S. Pacific Time time zone",
                "value": "18:00:00-0700"
              },
              "intra day end time in UTC": {
                "description": "6 PM in UTC",
                "value": "18:00:00Z"
              }
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "Expected metrics in response. Multiple values can be passed separated by comma. Time and duration metrics are returned in **seconds**.\n**Values allowed and their description**\n| Name                                  | Description                                                                                                                                     |\n|---------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|\n| missedInteractions                    | The number of interactions that were missed by the user.                                                                                        |\n| rejectedInteractions                  | The number of interactions that were rejected by the user.                                                                                      |\n| ongoingTalkingInteractions            | The number of interactions that are currently in the talking phase.                                                                             |\n| rejectedInteractionsPercentage        | The percentage of interactions that were rejected by the user.                                                                                  |\n| averageOnHoldInteractionsTime         | The average time that interactions were on hold.                                                                                                |\n| ongoingOnHoldInteractions             | The number of interactions that are currently on hold.                                                                                          |\n| userStatusTime                        | The total time the user has been in their current status.                                                                                       |\n| missedInteractionsPercentage          | The percentage of interactions that were missed by the user.                                                                                    |\n| ongoingWrapUpInteractionsTime         | The time spent on interactions that are currently in the wrap-up phase.                                                                         |\n| ongoingAvgTalkingInteractionsTime     | The average time spent on interactions that are currently in the talking phase.                                                                 |\n| enteredInteractions                   | The number of interactions that the user has entered into.                                                                                      |\n| ongoingTotalHandlingInteractionsTime  | The total time spent on interactions that are currently being handled.                                                                          |\n| acceptedInteractionsPercentage        | The percentage of interactions that were accepted by the user.                                                                                  |\n| averageTalkingInteractionsTime        | The average time spent on interactions during the talking phase.                                                                                |\n| agentTotalTalkTime                    | Cumulative duration of the talk time of all answered calls by this agent during the time period monitored                                       |\n| agentAverageTimeToAnswer              | The average time the agent takes to answer interactions in the queue after alerting begins (alerting duration). Returns null when the agent answered no interactions in the selected period. |\n| totalInteractionTime                  | The total time spent on all interactions.                                                                                                       |\n| ongoingHandlingInteractions           | The number of interactions that are currently being handled by the user.                                                                        |\n| queueStatusTime                       | The total time the user has been in the queue status.                                                                                           |\n| ongoingWrapUpInteractions             | The number of interactions that are currently in the wrap-up phase.                                                                             |\n| ongoingAvgHandlingInteractionsTime    | The average time spent on interactions that are currently being handled.                                                                        |\n| ongoingOnHoldInteractionsTime         | The time spent on interactions that are currently on hold.                                                                                      |\n| ongoingTalkingInteractionsTime        | The time spent on interactions that are currently in the talking phase.                                                                         |\n| averageWrapUpTime                     | The average time spent on interactions during the wrap-up phase.                                                                                |\n| acceptedInteractions                  | The number of interactions that were accepted by the user.                                                                                      |\n",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "includeSummary",
            "in": "query",
            "description": "If true, the response will contain the summary of agent activity metrics for each queue, otherwise not.",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueAgentActivityResponse"
                },
                "examples": {
                  "All Metrics": {
                    "description": "example request",
                    "value": {
                      "queuesAgentActivity": [
                        {
                          "pbx": "testPbx",
                          "site": "Test Site",
                          "queueExtension": "6509967",
                          "queueId": "X10000",
                          "queueName": "Timoth",
                          "autoLogin": false,
                          "queueAgentActivity": [
                            {
                              "userId": "user_1",
                              "agentExtension": "2062112",
                              "agentName": "John Doe",
                              "queueStatus": "HANDLING",
                              "userStatus": "ON_CALL",
                              "overflowAgent": false,
                              "interaction": {
                                "caller": "Caller",
                                "address": "CallerPhone"
                              },
                              "metrics": {
                                "ongoingHandlingInteractions": 1,
                                "acceptedInteractions": 0,
                                "ongoingOnHoldInteractionsTime": 0,
                                "ongoingTalkingInteractions": 1,
                                "ongoingWrapUpInteractionsTime": 0,
                                "rejectedInteractions": 0,
                                "userStatusTime": 2579000,
                                "averageWrapUpTime": 0,
                                "ongoingWrapUpInteractions": 0,
                                "enteredInteractions": 0,
                                "ongoingTalkingInteractionsTime": 2594778,
                                "ongoingHandlingInteractionsTime": 2579000,
                                "totalInteractionTime": 0,
                                "ongoingOnHoldInteractions": 0,
                                "queueStatusTime": 2579000
                              }
                            },
                            {
                              "userId": "user_2",
                              "agentExtension": "5368894",
                              "agentName": "Jane Doe",
                              "queueStatus": "ALERTING",
                              "userStatus": "AVAILABLE",
                              "overflowAgent": false,
                              "interaction": {
                                "caller": "Another Caller",
                                "address": "AnotherCallerPhone"
                              },
                              "metrics": {
                                "ongoingHandlingInteractions": 1,
                                "acceptedInteractions": 0,
                                "ongoingOnHoldInteractionsTime": 2599778,
                                "ongoingTalkingInteractions": 0,
                                "ongoingWrapUpInteractionsTime": 0,
                                "rejectedInteractions": 0,
                                "userStatusTime": 2615000,
                                "averageWrapUpTime": 0,
                                "ongoingWrapUpInteractions": 0,
                                "enteredInteractions": 0,
                                "ongoingTalkingInteractionsTime": 0,
                                "ongoingHandlingInteractionsTime": 2615000,
                                "totalInteractionTime": 0,
                                "ongoingOnHoldInteractions": 1,
                                "queueStatusTime": 2615000
                              }
                            }
                          ],
                          "summary": {
                            "ongoingHandlingInteractions": 2,
                            "acceptedInteractions": 0,
                            "ongoingOnHoldInteractionsTime": 2599778,
                            "ongoingTalkingInteractions": 1,
                            "ongoingWrapUpInteractionsTime": 0,
                            "rejectedInteractions": 0,
                            "averageWrapUpTime": 0,
                            "ongoingWrapUpInteractions": 0,
                            "enteredInteractions": 0,
                            "ongoingTalkingInteractionsTime": 2594778,
                            "ongoingHandlingInteractionsTime": 5195000,
                            "totalInteractionTime": 0,
                            "ongoingOnHoldInteractions": 1
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "Invalid metrics passed": {
                    "description": "Invalid metrics passed",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 400,
                      "messages": [
                        "Invalid Metrics Passed [random,notSupported]."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/queue-agent-activity"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/401ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/queue-agent-activity"
                    }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found" },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/agent-activity": {
      "get": {
        "tags": ["Agent Activity"],
        "summary": "Get Agent Activity Metrics",
        "description": "This endpoint returns the agent activity metrics for the selected pbx, grouped by agent. The response can be further filtered by a list of queues, sites, agents, user statuses. If no date range is provided, the metrics reflect the agent activity in the last 24 hours.",
        "operationId": "get-agent-activity",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "Site ids filtering. Multiple values can be passed separated by comma. If not passed, all sites data for the given pbx will be returned.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Single value": {
                "description": "single valued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg"
              },
              "Multiple values": {
                "description": "multivalued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg,JMwyX0BUTRC9uAnuAz8wfg"
              }
            }
          },
          {
            "name": "queueIds",
            "in": "query",
            "description": "Call Queue ids filtering. Multiple values can be passed separated by comma. If not passed, all queues data for the given pbx will be returned.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userIds",
            "in": "query",
            "description": "User ids filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userStatuses",
            "in": "query",
            "description": "User statuses filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AVAILABLE",
                "BUSY",
                "DND",
                "AWAY",
                "AUTO_AWAY",
                "OFFLINE",
                "ON_CALL",
                "INVISIBLE"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If startDate is entered, endDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Start date in U.S. Pacific Time time zone": {
                "description": "2023-06-14 start date in U.S. Pacific Time time zone",
                "value": "2023-06-14T00:00:00-0700"
              },
              "Start date in UTC": {
                "description": "2023-06-14 start date in UTC",
                "value": "2023-06-14T00:00:00Z"
              }
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Report end date in ISO 8601 standard. If endDate is entered, startDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "End date in U.S. Pacific Time time zone": {
                "description": "2023-06-15 end date in U.S. Pacific Time time zone",
                "value": "2023-06-15T00:00:00-0700"
              },
              "End date in UTC": {
                "description": "2023-06-15 end date in UTC",
                "value": "2023-06-15T00:00:00Z"
              }
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Report intra day start time (up to seconds) in ISO 8601 standard. If intraDayStart is entered, intraDayEnd is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day start time in U.S. Pacific Time time zone": {
                "description": "8 AM in U.S. Pacific Time time zone",
                "value": "08:00:00-0700"
              },
              "intra day start time in UTC": {
                "description": "8 AM in UTC",
                "value": "08:00:00Z"
              }
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Report intra day end time (up to seconds) in ISO 8601 standard. If intraDayEnd is entered, intraDayStart is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day end time in U.S. Pacific Time time zone": {
                "description": "6 PM in U.S. Pacific Time time zone",
                "value": "18:00:00-0700"
              },
              "intra day end time in UTC": {
                "description": "6 PM in UTC",
                "value": "18:00:00Z"
              }
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "Expected metrics in response. Multiple values can be passed separated by comma. Time and duration metrics are returned in **seconds**.\n\n**Values allowed and their description**\n\n| Metric | Description | \n| -------| ----------- | \n| averageOnHoldInteractionsTime      | The average time an interaction spends on hold. |\n| enteredInteractions                | The number of interactions entered into the queue. |\n| rejectedInteractions               | The number of interactions rejected by the agent. |\n| missedInteractions                 | The number of interactions missed by the agent. |\n| rejectedInteractionsPercentage     | The percentage of interactions rejected by the agent. |\n| acceptedInteractions               | The number of interactions accepted by the agent. |\n| acceptedInteractionsPercentage     | The percentage of interactions accepted by the agent. |\n| ongoingHandlingInteractions        | The number of interactions currently being handled by the agent. |\n| ongoingAvgTalkingInteractionsTime  | The average time of ongoing talking interactions. |\n| ongoingAvgHandlingInteractionsTime | The average time of ongoing handling interactions. |\n| ongoingOnHoldInteractions          | The number of ongoing interactions currently on hold. |\n| ongoingTalkingInteractions         | The number of ongoing talking interactions. |\n| averageWrapUpTime                  | The average time taken to wrap up an interaction. |\n| missedInteractionsPercentage       | The percentage of interactions missed by the agent. |\n| averageTalkingInteractionsTime     | The average time of talking interactions. |\n| agentTotalTalkTime                 | Cumulative duration of the talk time of all answered calls by this agent during the time period monitored|\n| agentAverageTimeToAnswer           | The average time the agent takes to answer interactions after alerting begins (alerting duration). Returns null when the agent answered no interactions in the selected period. |\n| totalInteractionTime               | The total time spent on interactions. |\n| ongoingOnHoldInteractionsTime      | The total time of ongoing interactions currently on hold. |\n| ongoingTalkingInteractionsTime     | The total time of ongoing talking interactions. |\n| ongoingTotalHandlingInteractionsTime | The total time of ongoing handling interactions. |\n| userStatusTime                     | The total time the user has spent in their current status. |\n| ongoingWrapUpInteractionsTime      | The total time of ongoing wrap-up interactions. |\n| ongoingWrapUpInteractions          | The number of ongoing wrap-up interactions. |\n",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "includeSummary",
            "in": "query",
            "description": "If true, the response will contain the summary of agent activity metrics for each queue, otherwise not.",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentActivityResponse"
                },
                "examples": {
                  "All Metrics": {
                    "description": "metrics param not passed, all call queue metrics will be returned.",
                    "value": {
                      "agentActivity": [
                        {
                          "userId": "user_1",
                          "agentExtension": "2062112",
                          "agentName": "John Doe",
                          "loggedInQueues": ["1002", "2002"],
                          "userStatus": "ON_CALL",
                          "activityStatus": "HANDLING",
                          "interaction": {
                            "caller": "Caller",
                            "address": "1006"
                          },
                          "metrics": {
                            "ongoingHandlingInteractions": 1,
                            "acceptedInteractions": 0,
                            "ongoingOnHoldInteractionsTime": 0,
                            "ongoingTalkingInteractions": 1,
                            "ongoingWrapUpInteractionsTime": 0,
                            "rejectedInteractions": 0,
                            "userStatusTime": 2579,
                            "averageWrapUpTime": 0,
                            "ongoingWrapUpInteractions": 0,
                            "enteredInteractions": 0,
                            "ongoingTalkingInteractionsTime": 2594.78,
                            "ongoingHandlingInteractionsTime": 2579,
                            "totalInteractionTime": 0,
                            "ongoingOnHoldInteractions": 0
                          }
                        },
                        {
                          "userId": "user_2",
                          "agentExtension": "5368894",
                          "agentName": "Jane Doe",
                          "loggedInQueues": ["1002", "2002"],
                          "userStatus": "AVAILABLE",
                          "activityStatus": "AVAILABLE_IDLE",
                          "metrics": {
                            "ongoingHandlingInteractions": 1,
                            "acceptedInteractions": 0,
                            "ongoingOnHoldInteractionsTime": 2599.78,
                            "ongoingTalkingInteractions": 0,
                            "ongoingWrapUpInteractionsTime": 0,
                            "rejectedInteractions": 0,
                            "userStatusTime": 2615,
                            "averageWrapUpTime": 0,
                            "ongoingWrapUpInteractions": 0,
                            "enteredInteractions": 0,
                            "ongoingTalkingInteractionsTime": 0,
                            "ongoingHandlingInteractionsTime": 2615,
                            "totalInteractionTime": 0,
                            "ongoingOnHoldInteractions": 1
                          }
                        }
                      ],
                      "summary": {
                        "ongoingHandlingInteractions": 2,
                        "acceptedInteractions": 0,
                        "ongoingOnHoldInteractionsTime": 2599.78,
                        "ongoingTalkingInteractions": 1,
                        "ongoingWrapUpInteractionsTime": 0,
                        "rejectedInteractions": 0,
                        "averageWrapUpTime": 0,
                        "ongoingWrapUpInteractions": 0,
                        "enteredInteractions": 0,
                        "ongoingTalkingInteractionsTime": 2594.78,
                        "ongoingHandlingInteractionsTime": 5194,
                        "totalInteractionTime": 0,
                        "ongoingOnHoldInteractions": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "Invalid metrics passed": {
                    "description": "Invalid metrics passed",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 400,
                      "messages": [
                        "Invalid Metrics Passed [random,notSupported]."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/agent-activity"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/401ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/agent-activity"
                    }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found" },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/call-queue-metrics": {
      "get": {
        "tags": ["Call Queue Metrics"],
        "summary": "Get Call Queue Metrics",
        "description": "This endpoint returns the call queue metrics, for the selected PBX. The response can be further filtered by a list of queues, sites. If no date range is provided, the metrics reflect the activity on queues in the last 24 hours.",
        "operationId": "get-queue-metrics",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "Site ids filtering. Multiple values can be passed separated by comma. If not passed, all sites data for the given pbx will be returned.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Single value": {
                "description": "single valued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg"
              },
              "Multiple values": {
                "description": "multivalued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg,JMwyX0BUTRC9uAnuAz8wfg"
              }
            }
          },
          {
            "name": "queueIds",
            "in": "query",
            "description": "Call Queue ids filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If startDate is entered, endDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Start date in U.S. Pacific Time time zone": {
                "description": "2023-06-14 start date in U.S. Pacific Time time zone",
                "value": "2023-06-14T00:00:00-0700"
              },
              "Start date in UTC": {
                "description": "2023-06-14 start date in UTC",
                "value": "2023-06-14T00:00:00Z"
              }
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If endDate is entered, startDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "End date in U.S. Pacific Time time zone": {
                "description": "2023-06-15 end date in U.S. Pacific Time time zone",
                "value": "2023-06-15T00:00:00-0700"
              },
              "End date in UTC": {
                "description": "2023-06-15 end date in UTC",
                "value": "2023-06-15T00:00:00Z"
              }
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Report intra day start time (up to seconds) in ISO 8601 standard. If intraDayStart is entered, intraDayEnd is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day start time in U.S. Pacific Time time zone": {
                "description": "8 AM in U.S. Pacific Time time zone",
                "value": "08:00:00-0700"
              },
              "intra day start time in UTC": {
                "description": "8 AM in UTC",
                "value": "08:00:00Z"
              }
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Report intra day end time (up to seconds) in ISO 8601 standard. If intraDayEnd is entered, intraDayStart is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day end time in U.S. Pacific Time time zone": {
                "description": "6 PM in U.S. Pacific Time time zone",
                "value": "18:00:00-0700"
              },
              "intra day end time in UTC": {
                "description": "6 PM in UTC",
                "value": "18:00:00Z"
              }
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "Expected metrics in response. Multiple values can be passed separated by comma. Time and duration metrics are returned in **seconds**.\n\n**Values allowed and their description**\n\n| Metric | Description |\n| ---------------- | ------------|\n| abandonedInWaitingCalls | The total number of waiting interactions that ended up as being hung up by the customer |\n| abandonedInWaitingCallsPercentage | The total number of waiting calls that ended up as being hung up by the customer over the number of entered calls |\n| abandonedInHandlingCalls | The total number of calls abandoned by the caller while being handled by an agent |\n| abandonedInHandlingCallsPercentage | The number of calls abandoned during handling over the number of entered calls |\n| acceptedCalls | The total number of interactions answered by agents in the queue |\n| acceptedCallsPercentage | The total number of calls answered over the number of entered calls |\n| activeCalls | The number of calls still active at the end of the selected interval |\n| averageHandlingTime | Average handling time for interactions in the specified time frame |\n| averageOnHoldTime | Average on hold time for finished calls |\n| averageTalkTime | Average talk time in the specified time frame |\n| averageTimeToAnswer | The average time agents take to answer calls (alerting duration) |\n| averageWaitingTime | Average waiting time for interactions in the specified time frame |\n| completedCalls | The number of calls completed at the end of the selected interval |\n| divertedCalls | The total number of unique inbound calls that entered the queue and were routed to another destination by the system — such as voicemail, another queue, a ring group, or an external number — without ever being offered to any agent. The call never rang at any agent's device.<br><br>This metric helps distinguish between calls lost due to agent behavior (Missed, Rejected) and calls the system routed away before any agent was involved, which typically indicates a capacity, staffing, or routing configuration issue.<br><br>This metric is calculated after calls are completed, so ongoing calls are not included until they end. |\n| divertedCallsPercentage | The percentage of queue entries that were diverted by the system without ever being offered to an agent. Calculated as: (Diverted ÷ Queue Entries) × 100. If Queue Entries = 0, the value is 0%. |\n| enteredCalls | The total number of interactions that entered the queue |\n| forwardedToVoiceMail | The total number of interactions that were forwarded to voice mail |\n| longestHandlingTime | Longest handling time for interactions in the specified time frame |\n| longestOnHoldTime | Longest on hold time for finished calls |\n| longestTalkTime | Longest talk time in the specified time frame |\n| longestWaitingTime | Longest waiting time for interactions in the specified time frame |\n| missedCalls | The total number of calls that alerted an agent but were not answered |\n| missedCallsPercentage | The number of missed calls over the number of entered calls |\n| ongoingAvailableAgents | Number of users assigned to the queue, logged in and in the Available status |\n| ongoingAvgHandlingTime | Average handling time |\n| ongoingAvgOnHoldTime | Average On Hold time |\n| ongoingAvgTalkingTime | Average talking time |\n| ongoingAvgWaitingTime | Average waiting time |\n| ongoingEligibleAgents | The number of primary and secondary users in the statuses: Available, Busy, Away, Appear Offline |\n| ongoingEligibleOverflowAgents | The number of secondary users in the statuses: Available, Busy, Away, Appear Offline |\n| ongoingEligiblePrimaryAgents | The number of primary users in the statuses: Available, Busy, Away, Appear Offline |\n| ongoingEnabledOverflowAgents | Number of enabled overflow agents |\n| ongoingEnabledPrimaryAgents | Number of enabled primary agents |\n| ongoingHandlingCalls | Handling calls |\n| ongoingLoggedOutAndDndAgents | Number of primary and secondary users in statuses: Offline, Logged out, Dnd |\n| ongoingLoggedOutAndDndOverflowAgents | Number of secondary users in statuses: Offline, Logged out, Dnd |\n| ongoingLongestHandlingTime | Longest handling time |\n| ongoingLongestOnHoldTime | Longest on hold time |\n| ongoingLongestTalkingTime | Longest talking time |\n| ongoingLongestWaitingTime | Longest waiting time |\n| ongoingOnHoldCalls | On hold calls |\n| ongoingOnHoldTime | On hold time |\n| ongoingOverflowAgents | Total number of secondary users assigned to the queue regardless of their available status |\n| ongoingOverflowWrappingUpAgents | The number of secondary users in Wrap-up state |\n| ongoingPrimaryWrappingUpAgents | The number of primary users in Wrap-up state |\n| ongoingTalkingCalls | Talking calls |\n| ongoingTalkingTime | Talking time |\n| ongoingTotalCalls | Total calls |\n| ongoingTotalHandlingTime | Total handling time |\n| ongoingWaitingCalls | Waiting calls |\n| ongoingWaitingTime | Waiting time |\n| ongoingWrappingUpAgents | The number of primary and secondary users in Wrap-up state |\n| totalHandlingTime | Total handling time for interactions in the specified time frame |\n| totalOnHoldTime | Total on hold time for interactions in the specified time frame |\n| totalTalkTime | Total talk time for calls in the specified time frame |\n| totalWaitingTime | Total waiting time for interactions in the specified time frame |\n| transferredToCallQueue | The total number of interactions that were transferred to a call queue |\n| transferredToCallQueuePercentage | The total number of calls that were transferred to a call queue over the number of entered calls |\n| transferredToExternalNumber | The total number of interactions that were transferred to an external number |\n| transferredToRingGroup | The total number of interactions that were transferred to a ring group |\n| transferredToRingGroupPercentage | The total number of calls that were transferred to a ring group over the number of entered calls |\n",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "includeSummary",
            "in": "query",
            "description": "If true, response will contain the metrics summary for the requested queues, otherwise not.",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueMetricsResponse"
                },
                "example": {
                  "callQueues": [
                    {
                      "pbx": "voaromaniaqe14051",
                      "site": "SanJose-Onel",
                      "id": "tqteLkZOScyi0Mai9ewUlA",
                      "name": "CQ3 (autologin)",
                      "extension": 1000,
                      "metrics": {
                        "ongoingAvgTalkingTime": 0,
                        "averageTalkTime": 0,
                        "ongoingEligibleAgents": 1,
                        "ongoingTotalHandlingTime": 0,
                        "ongoingTalkingTime": 0,
                        "ongoingOnHoldTime": 0,
                        "ongoingEnabledOverflowAgents": 0,
                        "ongoingLoggedOutAndDndAgents": 1,
                        "averageWaitingTime": 0,
                        "forwardedToVoiceMail": 0,
                        "ongoingTotalAgents": 1,
                        "ongoingWrappingUpAgents": 0,
                        "ongoingWaitingCalls": 0,
                        "enteredCalls": 0,
                        "ongoingOverflowAgents": 1,
                        "activeCalls": 0,
                        "ongoingLoggedOutAndDndOverflowAgents": 1,
                        "transferredToCallQueue": 0,
                        "totalWaitingTime": 0,
                        "averageHandlingTime": 0,
                        "ongoingLongestHandlingTime": 0,
                        "ongoingTalkingCalls": 0,
                        "ongoingEnabledPrimaryAgents": 0,
                        "longestHandlingTime": 0,
                        "transferredToExternalNumber": 0,
                        "missedCalls": 0,
                        "transferredToRingGroup": 0,
                        "ongoingEligibleOverflowAgents": 1,
                        "abandonedInWaitingCallsPercentage": 0,
                        "ongoingOnHoldCalls": 0,
                        "ongoingHandlingCalls": 0,
                        "totalTalkTime": 0,
                        "ongoingWaitingTime": 0,
                        "ongoingTotalCalls": 0,
                        "averageOnHoldTime": 0,
                        "totalOnHoldTime": 0,
                        "totalHandlingTime": 0,
                        "completedCalls": 0,
                        "divertedCalls": 0,
                        "divertedCallsPercentage": 0,
                        "abandonedInWaitingCalls": 0,
                        "missedCallsPercentage": 0,
                        "ongoingOverflowWrappingUpAgents": 0,
                        "ongoingEligiblePrimaryAgents": 0,
                        "ongoingLongestTalkingTime": 0,
                        "ongoingLongestWaitingTime": 0,
                        "longestOnHoldTime": 0,
                        "longestWaitingTime": 0,
                        "longestTalkTime": 0,
                        "ongoingPrimaryWrappingUpAgents": 0,
                        "ongoingAvgWaitingTime": 0,
                        "ongoingAvgHandlingTime": 0,
                        "ongoingAvailableAgents": 0,
                        "acceptedCalls": 0,
                        "ongoingLongestOnHoldTime": 0
                      }
                    },
                    {
                      "pbx": "voaromaniaqe14051",
                      "site": "SanJose-Onel",
                      "id": "ZPSyi0RkSiSISsNSuiYG7w",
                      "name": "CQ4",
                      "extension": 1013,
                      "metrics": {
                        "ongoingAvgTalkingTime": 0,
                        "averageTalkTime": 0,
                        "ongoingEligibleAgents": 1,
                        "ongoingTotalHandlingTime": 0,
                        "ongoingTalkingTime": 0,
                        "ongoingOnHoldTime": 0,
                        "ongoingEnabledOverflowAgents": 0,
                        "ongoingLoggedOutAndDndAgents": 1,
                        "averageWaitingTime": 0,
                        "forwardedToVoiceMail": 0,
                        "ongoingTotalAgents": 1,
                        "ongoingWrappingUpAgents": 0,
                        "ongoingWaitingCalls": 0,
                        "enteredCalls": 0,
                        "ongoingOverflowAgents": 1,
                        "activeCalls": 0,
                        "ongoingLoggedOutAndDndOverflowAgents": 1,
                        "transferredToCallQueue": 0,
                        "totalWaitingTime": 0,
                        "averageHandlingTime": 0,
                        "ongoingLongestHandlingTime": 0,
                        "ongoingTalkingCalls": 0,
                        "ongoingEnabledPrimaryAgents": 0,
                        "longestHandlingTime": 0,
                        "transferredToExternalNumber": 0,
                        "missedCalls": 0,
                        "transferredToRingGroup": 0,
                        "divertedCalls": 0,
                        "divertedCallsPercentage": 0
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/401ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/call-queue-metrics"
                    }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls": {
      "get": {
        "tags": ["Call Queue Data Table"],
        "operationId": "aggregated_3",
        "summary": "Get Aggregated Calls",
        "description": "This endpoint returns the summary of calls for selected time period and pbx",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "Site ids filtering. Multiple values can be passed separated by comma. If not passed, all sites data for the given pbx will be returned.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Single value": {
                "description": "single valued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg"
              },
              "Multiple values": {
                "description": "multivalued site id filter",
                "value": "JMwyX0BUTRC9uAnuAz8wfg,JMwyX0BUTRC9uAnuAz8wfg"
              }
            }
          },
          {
            "name": "queueIds",
            "in": "query",
            "description": "Call Queue ids filtering. Multiple values can be passed separated by comma.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If startDate is entered, endDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "Start date in U.S. Pacific Time time zone": {
                "description": "2023-06-14 start date in U.S. Pacific Time time zone",
                "value": "2023-06-14T00:00:00-0700"
              },
              "Start date in UTC": {
                "description": "2023-06-14 start date in UTC",
                "value": "2023-06-14T00:00:00Z"
              }
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If endDate is entered, startDate is required as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "End date in U.S. Pacific Time time zone": {
                "description": "2023-06-15 end date in U.S. Pacific Time time zone",
                "value": "2023-06-15T00:00:00-0700"
              },
              "End date in UTC": {
                "description": "2023-06-15 end date in UTC",
                "value": "2023-06-15T00:00:00Z"
              }
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Report intra day start time (up to seconds) in ISO 8601 standard. If intraDayStart is entered, intraDayEnd is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day start time in U.S. Pacific Time time zone": {
                "description": "8 AM in U.S. Pacific Time time zone",
                "value": "08:00:00-0700"
              },
              "intra day start time in UTC": {
                "description": "8 AM in UTC",
                "value": "08:00:00Z"
              }
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Report intra day end time (up to seconds) in ISO 8601 standard. If intraDayEnd is entered, intraDayStart is required as well. Report intraDayStart/intraDayEnd parameters should be passed only when report startDate/endDate are passed as well.",
            "required": false,
            "schema": { "type": "string" },
            "examples": {
              "intra day end time in U.S. Pacific Time time zone": {
                "description": "6 PM in U.S. Pacific Time time zone",
                "value": "18:00:00-0700"
              },
              "intra day end time in UTC": {
                "description": "6 PM in UTC",
                "value": "18:00:00Z"
              }
            }
          },
          {
            "name": "paging",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Paging" }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Sorting" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregatedCallsResponse"
                },
                "example": {
                  "calls": [
                    {
                      "callId": "1715191662606",
                      "workGroup": {
                        "id": "tqteLkZOScyi0Mai9ewUlA",
                        "extension": "1000",
                        "groupType": "CALL_QUEUE"
                      },
                      "caller": {
                        "id": "Caller ,1006",
                        "address": "1006",
                        "name": "Chay Hoss",
                        "deviceModel": "voo8x8"
                      },
                      "latestCallee": {
                        "address": "1014",
                        "name": "Chandler Hollow",
                        "deviceModel": "voo8x8"
                      },
                      "status": "COMPLETED",
                      "outcome": "FINISHED",
                      "labels": [
                        "WAITING",
                        "ALERTING",
                        "MISSED",
                        "DISCONNECTED",
                        "FINISHED"
                      ],
                      "startTime": 1717751880000,
                      "stopTime": 1717751880000,
                      "connectedTime": 0,
                      "handlingDuration": 0,
                      "waitingDuration": 42.38,
                      "talkingDuration": 0,
                      "onHoldDuration": 0,
                      "totalDuration": 42.38,
                      "did": "1000",
                      "direction": "INTERNAL",
                      "resolution": "OFFER_TIMEOUT"
                    },
                    {
                      "callId": "1715191662627",
                      "workGroup": {
                        "extension": "1004",
                        "groupType": "RING_GROUP"
                      },
                      "caller": {
                        "id": "Chay Hoss,1006",
                        "address": "1006",
                        "name": "Chay Hoss",
                        "deviceModel": "voo8x8"
                      },
                      "latestCallee": {
                        "address": "1014",
                        "name": "Jhon Dove",
                        "deviceModel": "voo8x8"
                      },
                      "status": "COMPLETED",
                      "outcome": "FINISHED",
                      "labels": [
                        "WAITING",
                        "ALERTING",
                        "MISSED",
                        "TALKING",
                        "ONHOLD",
                        "TRANSFERRED",
                        "IN_VOICEMAIL",
                        "DISCONNECTED",
                        "FINISHED"
                      ],
                      "startTime": 1717756620000,
                      "stopTime": 1717756620000,
                      "connectedTime": 1717756560000,
                      "handlingDuration": 45.79,
                      "waitingDuration": 19.75,
                      "talkingDuration": 24.97,
                      "onHoldDuration": 20.82,
                      "totalDuration": 68.31,
                      "did": "1000",
                      "direction": "INTERNAL",
                      "resolution": "ENDED_IN_VOICEMAIL"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/401ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/calls"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls/{callId}": {
      "get": {
        "tags": ["Call Details"],
        "operationId": "detailed",
        "summary": "Get Call Details",
        "description": "This endpoint returns the journey of a single interaction in the specified timeframe.",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If startDate is entered, endDate is required as well.",
            "required": true,
            "schema": { "type": "string" },
            "examples": {
              "Start date in U.S. Pacific Time time zone": {
                "description": "2023-06-14 start date in U.S. Pacific Time time zone",
                "value": "2023-06-14T00:00:00-0700"
              },
              "Start date in UTC": {
                "description": "2023-06-14 start date in UTC",
                "value": "2023-06-14T00:00:00Z"
              }
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Report start date in ISO 8601 standard. If endDate is entered, startDate is required as well.",
            "required": true,
            "schema": { "type": "string" },
            "examples": {
              "End date in U.S. Pacific Time time zone": {
                "description": "2023-06-15 end date in U.S. Pacific Time time zone",
                "value": "2023-06-15T00:00:00-0700"
              },
              "End date in UTC": {
                "description": "2023-06-15 end date in UTC",
                "value": "2023-06-15T00:00:00Z"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": { "type": "string" },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedCallResponse"
                },
                "example": {
                  "detailedCallRecords": [
                    {
                      "workGroup": {
                        "id": "LcfqMc30Ro2PWLSyYowS2g",
                        "extension": "1028",
                        "groupType": "CALL_QUEUE"
                      },
                      "caller": {
                        "id": "User1,1014",
                        "address": "1014",
                        "name": "User1",
                        "deviceModel": "flashPhone"
                      },
                      "sequence": 0,
                      "status": "WAITING",
                      "statusEnterTime": 0,
                      "statusDuration": 0.33,
                      "did": "1028"
                    },
                    {
                      "workGroup": {
                        "id": "LcfqMc30Ro2PWLSyYowS2g",
                        "extension": "1028",
                        "groupType": "CALL_QUEUE"
                      },
                      "caller": {
                        "id": "User1,1014",
                        "address": "1014",
                        "name": "User1",
                        "deviceModel": "flashPhone"
                      },
                      "callee": { "address": "1016" },
                      "sequence": 1,
                      "status": "ALERTING",
                      "statusEnterTime": 0,
                      "statusDuration": 5.27,
                      "did": "1028",
                      "direction": "INTERNAL"
                    },
                    {
                      "workGroup": {
                        "id": "LcfqMc30Ro2PWLSyYowS2g",
                        "extension": "1028",
                        "groupType": "CALL_QUEUE"
                      },
                      "caller": {
                        "id": "User1,1014",
                        "address": "1014",
                        "name": "User1",
                        "deviceModel": "flashPhone"
                      },
                      "callee": {
                        "address": "1016",
                        "name": "User3",
                        "deviceModel": "flashPhone"
                      },
                      "sequence": 2,
                      "status": "TALKING",
                      "statusEnterTime": 0,
                      "statusDuration": 7.19,
                      "did": "1028",
                      "direction": "INTERNAL"
                    },
                    {
                      "workGroup": {
                        "id": "LcfqMc30Ro2PWLSyYowS2g",
                        "extension": "1028",
                        "groupType": "CALL_QUEUE"
                      },
                      "caller": {
                        "id": "User1,1014",
                        "address": "1014",
                        "name": "User1",
                        "deviceModel": "flashPhone"
                      },
                      "callee": {
                        "address": "1016",
                        "name": "User3",
                        "deviceModel": "flashPhone"
                      },
                      "sequence": 3,
                      "status": "DISCONNECTED",
                      "statusEnterTime": 0,
                      "statusDuration": 0,
                      "did": "1028",
                      "direction": "INTERNAL"
                    },
                    {
                      "workGroup": {
                        "id": "LcfqMc30Ro2PWLSyYowS2g",
                        "extension": "1028",
                        "groupType": "CALL_QUEUE"
                      },
                      "caller": {
                        "id": "User1,1014",
                        "address": "1014",
                        "name": "User1",
                        "deviceModel": "flashPhone"
                      },
                      "callee": {
                        "address": "1016",
                        "name": "User3",
                        "deviceModel": "flashPhone"
                      },
                      "sequence": 4,
                      "status": "FINISHED",
                      "statusEnterTime": 0,
                      "statusDuration": 0,
                      "did": "1028",
                      "direction": "INTERNAL"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/401ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/calls/CALL_ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls/active": {
      "get": {
        "tags": [
          "Active Calls"
        ],
        "operationId": "get-active-calls",
        "summary": "Get Active Calls",
        "description": "Returns the calls that are currently active (in progress) for the given PBX at the moment of the query. This is a real-time snapshot, so no date-range filtering applies. The same endpoint is also served under `/analytics/work/v2/pbxes/{pbxId}/calls/active`.",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response fields to return. Multiple values can be passed separated by comma. If not passed, all available fields are returned.   \n**Values allowed and their description**\n| Field | Description |\n|-------|-------------|\n| callId | Unique identifier of the call |\n| startTime | Time the call started, in epoch milliseconds |\n| connectedTime | Time the call was answered/connected, in epoch milliseconds |\n| callerId | Identifier of the calling party |\n| callerAddress | Address or extension number of the caller |\n| callerName | Name of the caller |\n| callerDeviceId | Unique identifier of the device used by the caller |\n| callerDeviceModel | Model of the device used by the caller |\n| latestCalleeAddress | Address or extension number of the most recent callee |\n| latestCalleeName | Name of the most recent callee |\n| latestCalleeDeviceId | Unique identifier of the device used by the most recent callee |\n| latestCalleeDeviceModel | Model of the device used by the most recent callee |\n| direction | Direction of the call (INTERNAL, INBOUND or OUTBOUND) |\n| reference | Reference number associated with the call |\n| sip | SIP identifier of the call |\n| latestLabel | Most recent state label the call is currently in |\n| labels | Ordered list of states the call has passed through |\n| outcome | Current outcome classification of the call |\n| talkingDuration | Cumulative talk time on the call so far |\n| onHoldDuration | Cumulative on-hold time on the call so far |\n| waitingDuration | Cumulative waiting time on the call so far |\n| totalDuration | Total elapsed duration of the call so far |\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Paging"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sorting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveCallsResponse"
                },
                "example": {
                  "calls": [
                    {
                      "callId": "1717751880000",
                      "startTime": 1717751880000,
                      "connectedTime": 1717751885000,
                      "caller": {
                        "id": "Chay Hoss,1006",
                        "address": "1006",
                        "name": "Chay Hoss",
                        "deviceModel": "voo8x8"
                      },
                      "latestCallee": {
                        "address": "1014",
                        "name": "Chandler Hollow",
                        "deviceModel": "voo8x8"
                      },
                      "direction": "INBOUND",
                      "reference": "1000",
                      "sip": "sip-1717751880000",
                      "latestLabel": "TALKING",
                      "labels": [
                        "WAITING",
                        "ALERTING",
                        "TALKING"
                      ],
                      "outcome": "ONGOING",
                      "talkingDuration": 42.38,
                      "onHoldDuration": 0,
                      "waitingDuration": 12.5,
                      "totalDuration": 54.88
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/calls/active"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls/unreturned": {
      "get": {
        "tags": [
          "Unreturned Calls"
        ],
        "operationId": "get-unreturned-calls",
        "summary": "Get Unreturned Calls",
        "description": "Returns unreturned calls for the given PBX, aggregated per caller — calls into the PBX that were not answered and have not been called back. Each row groups a caller with the callee they last tried to reach, the number of unreturned attempts and the most recent attempt time. The same endpoint is also served under `/analytics/work/v2/pbxes/{pbxId}/calls/unreturned`.",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callerAddresses",
            "in": "query",
            "description": "Restrict to specific caller addresses (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calleeAddresses",
            "in": "query",
            "description": "Restrict to specific callee addresses (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response fields to return. Multiple values can be passed separated by comma. If not passed, all available fields are returned.   \n**Values allowed and their description**\n| Field | Description |\n|-------|-------------|\n| callerId | Identifier of the calling party |\n| callerAddress | Address or extension number of the caller |\n| callerName | Name of the caller |\n| callerDeviceId | Unique identifier of the device used by the caller |\n| callerDeviceModel | Model of the device used by the caller |\n| callerServiceName | Name of the service used by the caller |\n| callerServiceType | Type of the service used by the caller |\n| calleeAddress | Address or extension number of the callee that was not returned to |\n| calleeName | Name of the callee |\n| calleeDeviceId | Unique identifier of the device used by the callee |\n| calleeDeviceModel | Model of the device used by the callee |\n| calleeServiceName | Name of the service used by the callee |\n| calleeServiceType | Type of the service used by the callee |\n| siteId | Identifier of the site the callee belongs to |\n| siteName | Name of the site the callee belongs to |\n| attempts | Number of unreturned call attempts made by the caller |\n| latestStartTime | Start time of the most recent unreturned call, in epoch milliseconds |\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across caller/callee identity fields.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start of the historical window, in ISO 8601. Omit both `startDate` and `endDate` for the last 24 hours.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End of the historical window, in ISO 8601.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Optional intra-day window start; only valid together with `startDate`/`endDate`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Optional intra-day window end; only valid together with `startDate`/`endDate`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sorting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregatedUnreturnedCallsResponse"
                },
                "example": {
                  "calls": [
                    {
                      "caller": {
                        "id": "Chay Hoss,1006",
                        "address": "1006",
                        "name": "Chay Hoss",
                        "deviceId": "d-1006",
                        "deviceModel": "voo8x8",
                        "serviceName": "Work",
                        "serviceType": "VOICE"
                      },
                      "calleeData": {
                        "address": "1014",
                        "name": "Chandler Hollow",
                        "deviceId": "d-1014",
                        "deviceModel": "voo8x8",
                        "serviceName": "Work",
                        "serviceType": "VOICE"
                      },
                      "siteData": {
                        "id": "site-1",
                        "name": "Headquarters"
                      },
                      "attempts": 3,
                      "latestStartTime": 1717751880000
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/calls/unreturned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls/unreturned/callees": {
      "get": {
        "tags": [
          "Unreturned Calls"
        ],
        "operationId": "get-unreturned-callees",
        "summary": "Get Unreturned Call Callees",
        "description": "Returns the distinct callees (the parties that were called but not reached) that appear in the unreturned calls for the given PBX. Useful for populating a callee filter on the unreturned-calls report. The same endpoint is also served under `/v2`.",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "Restrict to specific sites (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across callee name/address.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start of the historical window, in ISO 8601. Omit both `startDate` and `endDate` for the last 24 hours.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End of the historical window, in ISO 8601.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Optional intra-day window start; only valid together with `startDate`/`endDate`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Optional intra-day window end; only valid together with `startDate`/`endDate`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Paging"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sorting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnreturnedCallParticipantResponse"
                },
                "example": {
                  "participants": [
                    {
                      "name": "Chandler Hollow",
                      "address": "1014"
                    },
                    {
                      "name": "Support Queue",
                      "address": "1000"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/calls/unreturned/callees"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls/unreturned/callers": {
      "get": {
        "tags": [
          "Unreturned Calls"
        ],
        "operationId": "get-unreturned-callers",
        "summary": "Get Unreturned Call Callers",
        "description": "Returns the distinct callers whose calls were not returned for the given PBX, optionally scoped to the callees they tried to reach. Useful for populating a caller filter on the unreturned-calls report. The same endpoint is also served under `/v2`.",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "Restrict to specific sites (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calleeAddresses",
            "in": "query",
            "description": "Restrict to callers that tried to reach specific callee addresses (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across caller name/address.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start of the historical window, in ISO 8601. Omit both `startDate` and `endDate` for the last 24 hours.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End of the historical window, in ISO 8601.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intraDayStart",
            "in": "query",
            "description": "Optional intra-day window start; only valid together with `startDate`/`endDate`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intraDayEnd",
            "in": "query",
            "description": "Optional intra-day window end; only valid together with `startDate`/`endDate`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Paging"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sorting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnreturnedCallParticipantResponse"
                },
                "example": {
                  "participants": [
                    {
                      "name": "Chay Hoss",
                      "address": "1006"
                    },
                    {
                      "name": "Jane Doe",
                      "address": "1008"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "User Not Authorized": {
                    "description": "User Not Authorized",
                    "value": {
                      "timestamp": "2023-01-05T12:04:59.100+0000",
                      "status": 403,
                      "messages": [
                        "user [user_name] does not have access to pbxId [PBX_ID] to make this request."
                      ],
                      "path": "/analytics/work/v2/pbxes/PBX_ID_VALUE/calls/unreturned/callers"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/pbxes/{pbxId}/calls/unreturned/detailed": {
      "get": {
        "tags": [
          "Unreturned Calls"
        ],
        "operationId": "get-unreturned-detailed",
        "summary": "Get Detailed Unreturned Calls",
        "description": "Returns the individual unreturned call records for the given PBX and the requested caller addresses — the per-call drill-down behind the aggregated unreturned-calls view. The same endpoint is also served under `/v2`.",
        "parameters": [
          {
            "name": "pbxId",
            "in": "path",
            "description": "Id of the PBX.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callerAddresses",
            "in": "query",
            "description": "Caller addresses to drill into (comma-separated). Required — at least one caller address must be supplied.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calleeAddresses",
            "in": "query",
            "description": "Restrict to specific callee addresses (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response fields to return. Multiple values can be passed separated by comma. If not passed, all available fields are returned.   \n**Values allowed and their description**\n| Field | Description |\n|-------|-------------|\n| callId | Unique identifier of the call |\n| transferToCallId | Identifier of the call this call was transferred to, if any |\n| callerId | Identifier of the calling party |\n| callerAddress | Address or extension number of the caller |\n| callerName | Name of the caller |\n| callerDeviceId | Unique identifier of the device used by the caller |\n| callerDeviceModel | Model of the device used by the caller |\n| callerServiceName | Name of the service used by the caller |\n| callerServiceType | Type of the service used by the caller |\n| calleeName | Name of the callee |\n| calleeAddress | Address or extension number of the callee |\n| calleeDeviceId | Unique identifier of the device used by the callee |\n| calleeDeviceModel | Model of the device used by the callee |\n| calleeServiceName | Name of the service used by the callee |\n| calleeServiceType | Type of the service used by the callee |\n| workGroupId | Identifier of the queue or ring group the call went through |\n| workGroupExtension | Extension of the queue or ring group |\n| workGroupType | Type of the work group (e.g. CALL_QUEUE, RING_GROUP) |\n| startTime | Time the call started, in epoch milliseconds |\n| totalDuration | Total duration of the call |\n| did | Direct inward dialing number associated with the call |\n| outcome | Outcome classification of the unreturned call |\n| labels | Ordered list of states the call passed through |\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
[...]
