/* Developer portal specific styles */
.hero {
  color: var(--text-color01);
  text-align: center;
  /* We have a 16px top padding from the container. define this in such a way that it completely overlays the background image at 218px */
  padding: 0 0 16px;
  height: 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: var(--text-color01);
  font-family: var(--heading02-font-family);
  font-size: var(--heading02-font-size);
  font-weight: var(--heading02-font-weight);
  line-height: var(--heading02-line-height);
  letter-spacing: var(--heading02-letter-spacing);
  margin: 0;
}

.logo {
  width: 102px;
  height: 46px;
  background: url('/img/Logo8x8Light.svg') no-repeat 50% 50%;
  background-size: 146px;
  font-size: 0;
  margin: 16px 0 12px 0;
}

[data-theme='dark'] .logo {
  background-image: url('/img/Logo8x8Dark.svg');
}
